<div class="left-column-header" ng-controller="ChatMainCtrl as chatMain">
  <h1>Bloc Chat</h1>
  <button type="button" class="modal-btn" ng-click="open()">Add Room</button>
</div>

<section>
  <br>
  <div class="room-list" ng-repeat="room in rooms" ng-click='activeRoom(room)'>
     {{ room.$value }}
    </div>
</section>

<section>
  <div class="right-column">
    <section class="room-title">
      <h3 ng-hide="currentRoomTitle"> Chat Rooms </h3>
      <h3 ng-show="currentRoomTitle">{{ currentRoomTitle | uppercase }}</h3>
    </section>
    <div ng-repeat="message in currentRoomMessages">
        {{message.username}}: <b>{{message.content}}</b>
          <br>
          ({{message.sentAt}})
    </div>
  </div>
</section>
